# System
.DS_Store

# Tmp databases
*.db

# Python
*.py[cod]
*_dev.py

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Sublime
.codeintel