.social-wrapper {
  float: right;
  width: 31%;
  display: inline-block;
}

.social-wrapper {
  position: relative;
  margin: -5px 0 0;
}

.addthis_default_style .at300b {
  margin-bottom: -10px;
}

.addthis_button_tweet {
  width: 95px !important;
}